name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build

    - name: Upload GlassNav APK
      uses: actions/upload-artifact@v4
      with:
        name: GlassNav APK
        path: GlassNav/build/outputs/apk/**/*.apk

    - name: Upload Companion APK
      uses: actions/upload-artifact@v4
      with:
        name: GlassNav Companion APK
        path: Companion/build/outputs/apk/**/*.apk
